*.pdf
*.docx
*.dotx
No_git/
*.pptx
*.fla
*.swf
*.ase
*.kra~
*.kra
.vs/
*.sln
x64/
*.vcxproj
*.filters
*.user
*.drawio
*.bat
*.zip
*.7z
/ACCD/RA3/Programs/Examern_RA2/nbproject/private/
/ACCD/RA4/projects/main_application/nbproject/private/
/ACCD/RA4/projects/main/nbproject/private/
/ACCD/RA4/projects/main/build/